@page "/file/{id:guid}"
@rendermode InteractiveAuto
@inject ExpensesManagementApp.Client.Services.FileService.IFileService fileService
@inject NavigationManager navigationManager

<PageTitle>File details</PageTitle>

<MudPaper Class="mt-5 mb-5 pa-5">
    <h3>File - @(Edition ? "edition" : "view")</h3>
    @if (_filePackage is not null && _filePackage.File is not null)
    {
        <MudGrid>
            <MudItem xs="12" md="4">
                <MudTextField T="string" @bind-Value="_filePackage.File.FileName" ReadOnly="!Edition" Label="@DisplayHelper.DisplayName(() => _filePackage.File.FileName)" />
            </MudItem>
            <MudItem xs="12" md="4">
                <MudTextField T="long?" @bind-Value="_filePackage.File.FileSize" ReadOnly="true" Label="@DisplayHelper.DisplayName(() => _filePackage.File.FileSize)" />
            </MudItem>
            @if (_filePackage.File.BankType.HasValue)
            {
                <MudItem xs="12" md="4">
                    <MudTextField T="string" Value="Models.File.File.BankTypeText(_filePackage.File.BankType.Value)" ReadOnly="true" Label="@DisplayHelper.DisplayName(() => _filePackage.File.BankType)" />
                </MudItem>
            }
            <MudItem xs="12" xl="12">
                <MudStack Row="true">
                    @if (Edition)
                    {
                        <MudTooltip Text="Save changes">
                            <MudIconButton Icon="@Icons.Material.Rounded.Save" OnClick="SaveChangesAndSwitchToViewModeAsync"/>
                        </MudTooltip>
                        <MudTooltip Text="Discard changes">
                            <MudIconButton Icon="@Icons.Material.Rounded.Cancel" OnClick="DiscardChangesAndSwitchToViewMode"/>
                        </MudTooltip>
                        <MudTooltip Text="Delete file">
                            <MudIconButton Icon="@Icons.Material.Rounded.DeleteForever" OnClick="DeleteFileAsync"/>
                        </MudTooltip>
                    }
                    else
                    {
                        <MudTooltip Text="Edit">
                            <MudIconButton Icon="@Icons.Material.Rounded.Edit" OnClick="SwitchToEditionMode" Disabled="_assigningToGroupActive"/>
                        </MudTooltip>
                    }
                    <MudTooltip Text="Assign transactions to group">
                        <MudIconButton Icon="@Icons.Material.Rounded.GroupAdd" OnClick="() => _assigningToGroupActive = true" Disabled="Edition" />
                    </MudTooltip>
                </MudStack>
            </MudItem>
            <MudExpansionPanels Class="mb-5 pa-5">
                <MudExpansionPanel Text="@(DisplayHelper.DisplayName(() => _filePackage.File.Transactions))" Expanded="true">
                    <ExpensesManagementApp.Client.Pages.Transactions FilePackage="_filePackage" Edition="Edition" AssigningToGroupActive="_assigningToGroupActive"/>
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudGrid>
    }
    else if (!string.IsNullOrEmpty(_errorMessage))
    {
        <MudAlert>@_errorMessage</MudAlert>
    }
</MudPaper>

@code {

    [Parameter]
    public bool Edition { get; set; }

    [Parameter]
    public Guid? Id { get; set; }

    private Models.File.FilePackage? _filePackage { get; set; }

    private string? _errorMessage { get; set; }

    private string? _fileCopyJson { get; set; }

    private bool _assigningToGroupActive { get; set; } = false;

    private Models.Transaction.TransactionGroup _transactionGroup { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (Id.HasValue)
        {
            var _httpResult = await fileService.GetFilePackageAsync(Id.Value);

            if (_httpResult.Data != null)
            {
                _filePackage = _httpResult.Data;
            }
            else
            {
                _errorMessage = _httpResult.Message;
            }
        }

        var uri = new Uri(navigationManager.Uri);
        var queryParams = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        if (queryParams.TryGetValue("edit", out var edit))
        {
            Edition = !string.IsNullOrEmpty(edit);
        }
    }

    private void SwitchToEditionMode()
    {
        _fileCopyJson = Newtonsoft.Json.JsonConvert.SerializeObject(_filePackage);

        Edition = true;
    }

    private async Task SaveChangesAndSwitchToViewModeAsync()
    {
        if (_filePackage is null || _filePackage.File is null)
            return;

        var _httpResult = await fileService.UpdateFileAsync(_filePackage.File);

        if (_httpResult == null)
            return;

        if (_httpResult.Data != null)
        {
            _filePackage.File = _httpResult.Data;
        }
        else
        {
            _errorMessage = _httpResult.Message;
        }

        _fileCopyJson = string.Empty;

        Edition = false;
    }

    private void DiscardChangesAndSwitchToViewMode()
    {
        if (_filePackage is null)
            return;

        _filePackage.File = Newtonsoft.Json.JsonConvert.DeserializeObject<Models.File.File?>(_fileCopyJson ?? string.Empty);

        _fileCopyJson = string.Empty;

        Edition = false;
    }

    private async Task DeleteFileAsync()
    {
        if (_filePackage is null || _filePackage.File is null)
            return;

        var _httpResult = await fileService.DeleteFileAsync(_filePackage.File.FileId);

        if (_httpResult == null)
            return;

        if (_httpResult.Data)
        {
            Edition = false;
            navigationManager.NavigateTo("/files");
        }
        else
        {
            _errorMessage = _httpResult.Message;
        }
    }
}
